@import "../variables.scss";

.about {
  margin: 2rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    .title {
      font-size: 4rem;
      display: flex;
      flex-direction: column;
      font-family: $primary-font;

      span {
        width: 35rem;
      }

      .colored {
        background: $yellow-background;
      }
    }

    .description {
      width: 39rem;
      font-family: $primary-font;
      font-size: 1.3rem;
      font-weight: 200;
      line-height: 2rem;
    }

    .btn {
      width: 12rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      background: $primary-color;
      color: white;
    }
  }

  .image {
    width: 35rem;
    height: 40rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
