$primary-color: #35bbe3;
$secondary-color: #fdc415;
$gradient: linear-gradient(268.15deg, #f4974d 2.88%, #ec5d63 97.9%);

$navigation-bar-default-state-gray: #767676;
$stroke-gray: #dadada;
$yellow-background: #fff3b6;
$background-clair-yellow: #fffce6;

$primary-font: system-ui;

$background-clair: #f6fbfe;

//shadow

$background: #c4c4c4;
$box-shadow: -22px -4px 8px rgba(0, 0, 0, 0.03);
